/* 
============ global ============
*/

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
  
li {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .button {
    background-color: #FF713B - #FFA51D;
} */

/* 
============ typography ============
*/

body {
    font-size: 1rem;
    font-family: 'Source Sans 3', sans-serif;
}
  
h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.3125rem;
}

.small {
    font-size: 0.625rem;
}

.bold {
    font-weight: 900;
}

.regular {
    font-weight: 400;
}

.thin {
    font-weight: 300;
}
  
.capitalize {
    text-transform: capitalize;
}
  
.uppercase {
    text-transform: uppercase;
}
  
.letter-spacing {
    letter-spacing: 1px;
}

.main-sub-title {
    color: #09ff00c7;
}

/* 
============ title container ============
*/

.background-img {
    background-image: url(./img/taco.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    isolation: isolate;
}

.background-img::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: .6;
}

.title-container {
    justify-content: space-between;
    gap: 5em;
    color: #fff;
}

.slogan {
    order: -1;
    border-top: .5em solid #09ff00;
    border-image: linear-gradient(to right, #09ff00, #ff2600) 1;
    color: #09ff00;
    padding-top: .3em;
}

.title {
    line-height: .9em;
    padding-left: .5em;
    padding-right: .5em;
}

.title-text {
    margin-bottom: 1em;
    color: #ff2600;
}

/* 
============ main container ============
*/

.main-container {
    background-color: rgb(27, 27, 27);
    padding: 3em 1em;
    color: white;
}

.main-title {
    line-height: 1em;
}

.main-sub-title {
    margin-bottom: .5em;
    line-height: 1.6;
    color: linear-gradient(to right, #09ff00, #ff2600);
}

.fine-print {
    width: 150px;
    margin-top: 1em 0;
}

.webinar-form {
    margin: 1em 0;
    width: 80%;
    max-width: 300px;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
    text-align: inherit;
    box-sizing: border-box;
    width: 100%;
    padding: .25em;
    border: 0;
    border-radius: 5px;
}

input {
    margin-bottom: 1em;
}

button {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.625rem;
    padding: .9em;
    letter-spacing: 1px;
}

.button-background-color {
    background: linear-gradient(145deg, green, red);
}

button:hover,
button:focus {
    opacity: .7;
}

/* 
============ media query ============
*/

@media (min-width: 750px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    body {
        display: flex;
        font-size: 1.125rem;
    }

    .title-container {
        width: 60%;
        min-height: 100vh;
    }

    .title {
        max-width: 600px;
    }
    
    .main-container {
        width: 40%;
        margin: initial;
        justify-content: center;
    }

    .main-text {
        max-width: 500px;
    }

}